.company-name a {
  font-size: 2rem;
  padding-left: 3rem;
}

.navbar-selections {
  padding-left: 3rem;
  font-size: 1.5rem;
}

.navbar-toggler .navbar-toggler-icon {
  width: 60px;
  height: 60px;
}

.intro-pic img {
  opacity: 0.6;
  width: 100%;
  height: auto;
}

.intro-text {
 padding: 10% 10% 0;
 text-align: left;
}

p {
  padding-top: 2rem;
  font-size: 2vw;
  font-family: 'Nunito Sans', sans-serif;
}

.intro-text h1 {
  font-family: 'Headland One', serif;
  font-size: 3rem;
}

@media screen and (max-width:999px) {
  p {
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .intro-text h1 {
    font-family: 'Headland One', serif;
    font-size: 4rem;
    text-align: center;
  }
  .intro-text {
    background-color: #343a40;
    color: white;
  }
  .navbar-selections {
    font-size: 2.5rem;
    text-align: center;
  }
}
