.company-name a {
  font-size: 3rem;
  padding-left: 3rem;
  padding-bottom: 0;
  font-family: 'Oswald', sans-serif;
}

.company-name p {
  color: white;
  font-size: 2rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 32%;
  font-family: 'Nunito Sans', sans-serif;
}

.navbar-selections {
  font-size: 1.5rem;
  text-align: center;
}

.navbar-toggler .navbar-toggler-icon {
  width: 40px;
  height: 40px;
}

<<<<<<< HEAD
=======
.col-lg-6 {
  padding-right: 0 !important;
}

.col-sm-12 {
  padding-right: 0 !important;
}

>>>>>>> a920ed2e81d1a963c1b2a60568872c9941319412
.intro .row {
  margin-right: 0;
}

.intro-pic img {
  opacity: 0.8;
  width: 100%;
  height: auto;
}

.intro-text {
 padding: 10% 10% 0;
 text-align: left;
}

.contact-navbar {
  color: white;
  position: absolute;
  left: 35%;
}

p {
  padding-top: 2rem;
  font-size: 2vw;
  font-family: 'Nunito Sans', sans-serif;
}

.intro-text h1 {
  font-family: 'Headland One', serif;
  font-size: 3rem;
  height: 100%;
}

.columns {
  display: block;
  line-height: 0;
  columns: 3;
  column-gap: 5px;
}

.columns img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

@media screen and (max-width:999px) {
  .intro-text p {
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0;
  }
  .intro-text h1 {
    font-family: 'Headland One', serif;
    font-size: 4rem;
    text-align: center;
  }
  .intro-text {
    background-color: #343a40;
    color: white;
  }
  .navbar-selections {
    font-size: 2.5rem;
  }
  .columns {
    columns: 2;
  }
}
